<template>
  <div id="app">
    <img v-if="artist.images[2]" v-bind:src="artist.images[2].url">

    <h1>
      {{ artist.name }}
      <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:1vCWHaC5f2uS3yhpwWbIA6&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
    </h1>

    <h2>Popular</h2>
    <ul>
      <li v-for="track in topTracks">
        <a :href="track.uri">{{track.name}}</a>
      </li>
    </ul>

    <h2>Related Artists</h2>
    <ul class="covers">
      <li v-for="artist in relatedArtists">
        <router-link :to="{path: `/${artist.id}`}">
          <img :src="artist.images[2].url" />
          <p>{{artist.name}}</p>
        </router-link>
      </li>
    </ul>

    <h2>Albums</h2>
    <ul class="covers">
      <li v-for="album in albums">
        <img :src="album.images[1].url" />
        <p>{{album.name}}</p>
      </li>
    </ul>

    <h2>Singles</h2>
    <ul class="covers">
      <li v-for="album in singles">
        <img :src="album.images[1].url" />
        <p>{{album.name}}</p>
      </li>
    </ul>
  </div>
</template>

<script>
  const COUNTRY_CODE = "AU"
  export default {
    data () {
      return {
        artist: {
          images: []
        },
        albums: [],
        singles: [],
        topTracks: [],
        relatedArtists: []
      }
    },
    props: ['id'],
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData: function () {
        const artist_id = this.$route.params.id && this.$route.params.id.length > 0 ? this.$route.params.id : "163tK9Wjr9P9DmM0AVK7lm"
        console.log(artist_id)
        let url = `https://api.spotify.com/v1/artists/${artist_id}`
        fetch(url).then(resp => resp.json()).then(artist => {
          console.log("artist", artist)
          this.artist = artist
        })

        url = `https://api.spotify.com/v1/artists/${artist_id}/albums`
        fetch(url).then(resp => resp.json()).then(resp => {
          console.log("albums", resp.items)
          this.albums = resp.items.filter(item => {
            return item.album_type == "album" && item.available_markets.indexOf(COUNTRY_CODE) > -1
          })

          this.singles = resp.items.filter(item => {
            return item.album_type == "single" && item.available_markets.indexOf(COUNTRY_CODE) > -1
          })
        })

        url = `https://api.spotify.com/v1/artists/${artist_id}/top-tracks?country=${COUNTRY_CODE}`
        fetch(url).then(resp => resp.json()).then(resp => {
          console.log("top-tracks", resp.tracks)
          this.topTracks = resp.tracks
        })

        url = `https://api.spotify.com/v1/artists/${artist_id}/related-artists?limit=8`
        fetch(url).then(resp => resp.json()).then(resp => {
          console.log("related-artists", resp.artists)
          this.relatedArtists = resp.artists
        })

        window.scrollTo(0, 0)
      }
    },
    created () {
      this.fetchData()
    }
  }
</script>
