body {
  font-family: 'Lato', sans-serif;
  color: #a0a0a0;
  background-color: black;
  margin: 0 auto;
  max-width: 900px;
}

h1 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.covers li {
  display: inline-block;
  max-width: 264px;
}

.covers img {
  width: 264px;
  height: 264px;
}
